* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}
body {
  line-height: 1.6;
}
header {
  background-color: white;
  margin-top: 15px;
  margin-bottom: 15px;
}
.header-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 34px;
}
.nav-link {
  color: black;
  text-decoration: none;
}
.quote-btn {
  background: #00d581;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(14, 24, 41, 0.05);
}
.fa-chevron-down{
  font-size: small;
  color: #1D2939;
}
.quote-btn:hover {
  background: #02cc7b;
}

.hero-section {
  background-image: url("./images/hero-left.png");
  background-size: contain; /* Ensures the image covers the entire element */
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
}
.hero-text {
  width: 50%;
  padding-left: 72px;
}
.hero-text h1 {
  font-size: 54px;
  font-weight: 559;
  line-height: 62px;
}
.hero-text p {
  margin-top: 28px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(54, 70, 99, 1);
  margin-bottom: 60px;
}
.hero-text .meeting-btn {
  background: black;
  color: white;
  padding: 16px 28px;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid var(--Black, rgba(17, 27, 46, 1));
  box-shadow: 0px 1px 2px 0px rgba(14, 24, 41, 0.05);
}
.hero-pic img {
  max-width: 100%;
  height: auto;
}
.stats-section {
  background-image: url("./images/bubbles.png");
  background-size: contain; /* Ensures the image covers the entire element */
  background-repeat: no-repeat;
  margin-top: 100px;
  margin-bottom: 100px;
}
.stats-text {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
}
.stats-text h1 {
  font-size: 38px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
  width: 45%;
}
.stats-text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(54, 70, 99, 1);
  margin-top: 20px;
  margin-bottom: 58px;
  width: 60%;
  text-align: center;
}
.stats-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stats-item {
  display: flex;
  flex-direction: column;
}
.stats-item h1 {
  font-size: 54px;
  font-weight: 600;
  line-height: 62px;
}
.stats-item h1 .highlight {
  color: rgba(0, 210, 149, 1);
}
.stats-item p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.services-section {
  background-image: url("./images/b-bubble.png");
  background-size: contain; /* Ensures the image covers the entire element */
  background-repeat: no-repeat;
  margin-top: 100px;
  margin-bottom: 100px;
}
.services-header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.services-header .services-title {
  display: flex;
  align-items: center;

  gap: 4px;
  background-color: rgba(0, 210, 149, 0.2);
  border: 1px solid #00d295;
  width: 130px;
  height: 33px;
  padding: 2px 16px;
}
.services-title p {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(0, 119, 78, 1);
}
.services-header h1 {
  margin-top: 12px;
  font-size: 38px;
  font-weight: 600;
  line-height: 44px;
}
.services-header p {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(54, 70, 99, 1);
}
.services-options {
  width: 90%;
  margin: 0 auto;
  display: flex;
  margin-top: 58px;
  align-items: center;
  gap: 18px;
}
.service-option {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 7px 14px;
}
.service-option:hover {
  background-color: rgba(235, 255, 248, 1);
  border: 1px solid #00d295;
  border-radius: 6.6px;
}

.service-text p {
  width: 90%;
  margin: 0 auto;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(54, 70, 99, 1);
}
.service-details {
  width: 90%;
  margin: 0 auto;
  display: flex;
  margin-top: 58px;
  align-items: center;
  justify-content: space-between;
}
.service-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.service-feature {
  display: flex;
  gap: 20px;
  align-items: center;
}
.feature-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.feature-content h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;
}
.feature-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  color: rgba(54, 70, 99, 1);
}
.trusted-by-section {
  margin-bottom: 100px;
  padding-left: 72px;
  display: flex;
  align-items: center;
  gap: 110px;
}
.trusted-by-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  color: rgba(54, 70, 99, 1);
}
.brands {
  display: flex;
  gap: 20px;
  align-items: center;
}
.trusted-brand {
  padding: 2px 10px;
}
.trusted-brand img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.explore-section {
  background-color: #e2fff6;

  background-image: url("./images/explore.png");
  background-size: contain; /* Ensures the image covers the entire element */
  background-position: bottom; /* Centers the image */
  background-repeat: no-repeat;
  padding-top: 150px;
  padding-bottom: 150px;
}
.explore-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
}
.explore-content h1 {
  font-size: 34px;
  font-weight: 500;
  line-height: 52px;
  text-align: center;
}
.explore-content .explore-btn {
  background: #00d581;
  color: #fff;
  padding: 16px 28px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(14, 24, 41, 0.05);
  border: 1px solid rgba(0, 214, 129, 1);
}
.fa-arrow-right {
  font-size: large;
  margin-left: 12px;
}
.work-structure-section {
  padding-top: 100px;
  padding-bottom: 100px;
}
.work-structure-header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.work-structure-title {
  display: flex;
  gap: 4px;
  background-color: rgba(0, 210, 149, 0.2);
  border: 1px solid #00d295;
  width: 210px;
  height: 33px;
  padding: 2px 26px;
  align-items: center;
}
.work-structure-title p {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(0, 119, 78, 1);
}

.work-structure-header h1 {
  margin-top: 12px;
  font-size: 38px;
  font-weight: 600;
  line-height: 44px;
}
.work-structure-header p {
  
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(54, 70, 99, 1);
}
.work-structure-content {
  width: 90%;
  margin: 0 auto;
  margin-top: 58px;
  display: flex;
  gap: 24px;
  align-items: center;
}
.work-structure-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12.84px;
  padding-left: 29.96px;
  padding-right: 29.96px;
}
.work-structure-item .work-img {
  padding-left: 12.84px;
  padding-right: 12.84px;
  padding-top: 29.96px;
  padding-bottom: 59.92px;
  margin: 10px;
  width: 300px;
  height: 350px;
}
.work-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
}
.work-structure-item h1 {
  margin-top: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.05px;
}
.work-structure-item p {
  margin-top: 24px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(54, 70, 99, 1);
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
.our-arsenals-section {
  padding-top: 100px;
  padding-bottom: 100px;
}
#our-arsenals-header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
#our-arsenals-header #our-arsenals-header-one {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding-right: 25%;
}
#our-arsenals-title {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 181px;
  height: 33px;
  padding: 2px 16px;
  background-color: rgba(0, 210, 149, 0.2);
  border: 1px solid #00d295;
  box-sizing: border-box; /* Ensure padding is included in the element’s total width and height */
}

.work-structure-title p {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(0, 119, 78, 1);
}
#our-arsenals-header-one h1 {
  margin-top: 12px;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}
#our-arsenals-header #our-arsenals-header-two {
  display: flex;
  flex-direction: column;
  width: 30%;
}
#our-arsenals-header-two p {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(54, 70, 99, 1);
}
#our-arsenals-header-two a {
  text-decoration: none;
  font-size: 16px;
  color: rgba(0, 214, 129, 1);
  font-weight: 500;
  line-height: 28px;
  margin-top: 12px;
}
.inte-logos {
  width: 90%;
  margin: 0 auto;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 30.15px;
  align-items: center;
}
.inte-logos .logo-row {
  display: flex;
  align-items: center;
  gap: 25.95px;
  flex-wrap: wrap;
}
.logo-item {
  width: 114.55px;
  height: 114.55px;
  margin: 5px;
  border-radius: 15.07px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0px 4.02px 8.04px 0px rgba(54, 54, 54, 0.12);
  border: 1px solid rgba(209, 224, 238, 1);
  padding: 32.16px;
}

.logo-item img {
  max-width: 100%;
  height: auto;
}
.engagement-section {
  padding-bottom: 100px;
  background-image: url("./images/bubbles.png");
  background-size: contain; /* Ensures the image covers the entire element */
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.engagement-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 80px;
}
.engagement-header h1 {
  font-size: 38px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
}
.engagement-header p {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(54, 70, 99, 1);
}
.engagement-diagram {
  width: 65.97%;
  margin: 0 auto;
}
.engagement-diagram .engagement-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 31.37%;
  margin: 0 auto;
  padding: 0px 10px;
}
.engagement-feature .feature-image {
  width: 54px;
  height: 54px;
  border-radius: 4px;
  box-shadow: 0px 0px 14px 0px rgba(19, 48, 92, 0.27);
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-image img {
  width: 26px;
  height: 26px;
  object-fit: contain;
}

.engagement-feature h2 {
  margin-top: 24px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  color: black;
  text-align: center;
}
.engagement-feature p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #364663;
  text-align: center;
}
.feature-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 59px;
}
.feature-divider {
  width: 238px;
  height: 236.57px;
  gap: 0px;
  opacity: 0px;
}
.feature-divider img {
  width: 100%;
  height: 100%;
}
.testimonials-section .container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.testimonials-header {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: rgba(0, 210, 149, 0.2);
  border: 1px solid #00d295;
  padding: 2px 26px;
  align-items: center;
}
.testimonials-main-quote {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 29.05px;
  width: 62%;
  margin: 0 auto;
  margin-top: 72px;
}
.testimonial-content {
  display: flex;
  align-items: center;
  width: 62%;
  margin: 0 auto;
  margin-top: 100px;
  justify-content: space-between;
}
.testimonial-item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.testimonial-image {
  flex: 0 0 auto;
  width: 70px;
  height: 70px;
}
.testimonial-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.testimonial-text {
  flex: 1 1 auto;
}
.testimonial-text h3 {
  font-size: 16px;
  margin: 0;
  margin-bottom: 3px;
}
.testimonial-text p {
  font-size: 16px;
  margin: 0;
}
.additional-testimonial-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px; /* Adjust the gap as needed */
}
.additional-testimonial-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
}
.additional-testimonial-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.technology-section {
  background-color: #ddfef4;
  padding-top: 100px;
  padding-bottom: 100px;
}

.technology-section .container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.technology-section .container .section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 250px;
}

.technology-section .container .section-heading h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}

.technology-section .container .section-heading p {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(54, 70, 99, 1);
}

.technology-content {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.technology-content .schedule-button .schedule-meeting-btn {
  background: black;
  color: #fff;
  padding: 17px 31px;
  text-decoration: none;
  border-radius: 3px;
  margin-top: 15px;
}
.footer {
  color: black;
  padding-left: 100px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 40px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  align-items: start;
  padding-top: 40px;
  border-bottom: 1px solid #d9dbea;
  padding-bottom: 70px;
}

/* Left section styling */
.footer-left {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.footer-logo .logo-div {
  width: 100px;
  cursor: pointer;
}

.footer-logo img {
  width: 100%;
  margin-bottom: 20px;
}

.footer-description {
  margin-bottom: 20px;
  font-size: 14px;
  width: 76%;
}

.footer-social {
  display: flex;
  gap: 10px;
  width: 120px;
  height: 30px;
}

.footer-social a img {
  width: 100%;
  height: 100%;
  object-fit: none;
}

/* Right section styling */
.footer-sections {
  display: flex;
  justify-content: space-between;
  width: 57%;
  float: right;
  gap: 85px;
}

.footer-section {
  width: 30%;
}

.footer-section h3 {
  margin-bottom: 20px;
  font-size: 18px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  text-decoration: none;
  font-size: 13px;
  color: #364663;
  font-weight: 200;
}

.footer-bottom {
  color: black;
}

.footer-bottom .containerr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  width: 93%;
  padding-top: 20px;
}

.footer-copyright {
  margin: 0;
  font-size: 14px;
}
.footer-links p {
  font-size: 14px;
}

.footer-links a {
  color: #0072f8;
  text-decoration: none;
  font-size: 14px;
}

.footer-links {
  display: flex;
  align-items: center;
  gap: 5px;
}
@media screen and (min-width: 1920px) {
  .header-container {
      width: 90%;
      max-width: 1710px;
  }

  .hero-section .hero-text {
      padding-left: 99px;
  }

  .hero-section .hero-text p {
      margin-bottom: 104px;
  }

  .stats-section {
      background-position: center;
      margin-top: 140px;
      padding-bottom: 120px;
  }

  .services-section {
      max-width: 1710px;
      margin: 0 auto;
  }


  .services-options {
      width: 100%;
      max-width: 1710px;
      margin: 0 auto;
  }

  .service-option {
      margin-left: 0;
      margin-right: 0;
  }

  .work-structure-section {
      width: 100%;
      max-width: 1710px;
  }

  .explore-section {
      background-position: center bottom;
      background-size: cover;
      padding-top: 255px;
      padding-bottom: 100px;
  }

  .trusted-by-section {
      width: 100%;
      max-width: 1710px;
  }

  .logo-row {
      justify-content: center;
      gap: 36px;
  }

  .testimonials-section .container {
      max-width: 1710px;
      width: 100%;
  }

  .footer .container {
      max-width: 1710px;
  }

  .footer-bottom .containerr {
      max-width: 1710px;
      width: 100%;
  }
}
